{% extends 'base.html.twig' %}

{% block body %}

    <div class="mx-auto col-md-12 p-5 " style="background: linear-gradient(0.25turn, #36c3eb, #e6f7fc,#e6f7fc, #36c3eb);height: 100vh ;width: 100vw">
    <div class="container col-lg-4 col-md-6 col-sm-12">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <fieldset style="color: #0a6ebd">
            <legend><h3>Nouveau compte</h3></legend>
            <div style="outline: none;background: transparent;border-right: none;border-top: none;border-left:none">
                {{ form_widget(form, {'attr': {'class': 'color'}}) }}
            </div>
            <div class="form-error">
                {{ form_errors(form) }}
            </div>
        </fieldset>
        {{ form_end(form) }}

              {#  {{ form(form,{attr:{novalidate:"novalidate", class: 'form-signin'}})}} #}

    </div>
    </div>

{% endblock %}