{% extends 'base.html.twig' %}

{% block title %}TypePrestation index{% endblock %}

{% block body %}
    <h1>TypePrestation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_prestation in type_prestations %}
            <tr>
                <td>{{ type_prestation.id }}</td>
                <td>{{ type_prestation.nom }}</td>
                <td>{{ type_prestation.type }}</td>
                <td>
                    <a href="{{ path('type_prestation_show', {'id': type_prestation.id}) }}">show</a>
                    <a href="{{ path('type_prestation_edit', {'id': type_prestation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_prestation_new') }}">Create new</a>
{% endblock %}
