<!DOCTYPE html>
<!--[if lt IE 7]><html lang="fr" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="fr" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="fr" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete" lang="fr">
<!--<![endif]-->

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow">
    <!-- meta name="google-site-verification" content="tTHpPE3lbS3Nt/OaY6mWeq/zT10che4J8khiDtv2+6U=" / -->
    <meta name="description" content="MTO-PTO-Travels la nouvelle raison d'être du tourisme">
    <meta name="author" content="Ahlem Ben Abderrazak">

    <style type="text/css">

    </style>

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>MTO-PTO-Travels, la nouvelle raison d'être du tourisme</title>

  <!--  <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" data-auto-replace-svg="nest"></script>-->
    {{ encore_entry_link_tags('js/app') }}
    {% block stylesheets %}

    {% endblock %}
</head>
<body {{ asset('build/login-1.jpg') }}>
{#{%  include 'partials/header.html.twig' %}#}
{% block header %}


{% endblock %}

{% block body %}



{% endblock %}

{#{%  include 'partials/footer.html.twig' %}

/<script src="../../index_fichiers/jquery-3.js"></script>
<script src="../../index_fichiers/jquery-ui.js"></script>
<script src="../../index_fichiers/bootstrap.js"></script>
<script src="../../index_fichiers/owl.js"></script>
<script src="../../index_fichiers/owl.js"></script>#}
{#<script src="{{ asset('build/js/app.js') }}"></script>
<script src="{{ asset('build/js/all.js') }}"></script>#}
{#<script src="{{ asset('build/js/owl.js') }}"></script>
<scrit src="{{ asset('build/js/bootstrap.js') }}"></scrit>
<script src="{{ asset('build/js/jquery-3.js') }}"></script>
<script src="{{ asset('build/js/jquery-ui.js') }}"></script>
#}
{{ encore_entry_script_tags('js/app') }}
{{ encore_entry_script_tags('js/all') }}

{% block javascripts %}{% endblock %}
</body>
</html>
