

{% extends 'base.html.twig' %}

{% block title %} Fournisseur{% endblock %}
 {% block stylesheets %}

 {% endblock %}
{% block body %}

<div class="container-fuild mt-0" style="background-image: url('{{ asset('build/bg3.jpg') }}')">
    <section  class="sites-list text-center">
        <div class="row site">
            <div class="col-12 h4">

                    <div class="text-center mt-4 pl-2 pb-3 pl-5 d-flex justify-content-between" >
                        <h3 class="card-title text-secondary">Bienvenue<span class="pr-1" style="color:darkkhaki"> {{ app.user }} </span>sur votre espace B2B </h3>
                        <a href="{{ path('app_logout') }}"><div class="text-secondary">
                                <i class="fas fa-sign-out-alt"></i>
                            </div><span style="color:darkkhaki">{{ app.user }}</span>
                        </a>
                    </div>
                <div  class="px-3"> <hr></div>

            </div>

            <div class="col-6 ">
                <a href="{{ path('produits_MTO') }}">
                    <img  src="{{ asset('build/MTOlogo.png') }}"  at="MTO-logo" width="100%">
                </a>
            </div>
            <div class="col-6">
                <a href="{{ path('produits_PTO') }}">
                    <img src="{{ asset('build/PTOlogo.png') }}"  at="PTO-logo" width="100%"></a>
            </div>
            </div>

    </section>

</div>
{#<div class="row">
    <section class="col-md-11 col-md-11 col-sm-11" style="background-color:rgba(0,0,0,0.4)">
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="card card-login card-hidden">
                <div class="text-center mt-4 pl-2 pb-3 pl-5 d-flex justify-content-between" >
                    <h3 class="card-title text-secondary">Bienvenue<span style="color:darkkhaki"> {{ app.user }} </span>sur votre espace B2B </h3>
                    <a href="{{ path('app_logout') }}"><div class="text-secondary"><i class="material-icons red pt-3 pr-5">logout</i></div></a>
                </div>
                <div  class="px-5"> <hr></div>
                <div class="card-body pb-5">
                    <div class="mt-5 d-flex mt-1 pl-2 justify-content-around p-5"  >

                        <a href="{{ path('produits_MTO') }}">
                            <img  src="../assets/img/MTOlogo.png"  at="MTO-logo" width="100%">
                        </a>


                        <a href="{{ path('produits_PTO') }}"><img src="../assets/img/PTOlogo.png"  at="PTO-logo" width="100%"></a>
                    </div>


                </div>
            </div>#}
<div style="background-color: #1b1e21">
    <section class="grid sites-list " >
        <div class="image-1" >
            <h1>Bienvenue {{ app.user }} sur votre espace B2B</h1>

        </div>
        <div class="image-2">
        <a href="{{ path('produits_PTO') }}">
        <img class="image-2" src=" {{ asset('build/PTOlogo.png') }}" alt="PTOProduits">
        </a>
        </div>
        <div class="image-3">
        <a href="{{ path('produits_MTO') }}">
        <img class="image-3" src="{{ asset('build/MTOlogo.png') }}" alt="MTOProduits">
        </a>
        </div>
        <img class="photo-4" src="{{ asset('build/BIANCAKOLASIN.jpg') }}">
        <img class="photo-5" src="{{ asset('build/JUPITERALBUFEIRA.jpg') }}">
        <div class="image-6 ">
        <a href="{{ path('produits_MTO') }}">
        <div class="image-6" ><h2>MTO-Produits</h2></div>
        </a>
        </div>
        <img class="photo-7" src="{{ asset('build/CASTELLASTVA.jpg') }}">
        <div class="photo-8 align-middle text-dark" >
            <a class="agrid" href="{{ path('app_logout') }}">
                    <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
        <!--<img class="photo-9" src="images/ian-beckley@beach-flora-flowers-2440025">-->
        <div class="image-5">
        <a href="{{ path('produits_PTO') }}">
        <div class="image-5"><h2>PTO-Produits</h2></div>
        </a>
        </div>
        <img class="photo-11" src="{{ asset('build/2.jpg') }}">
        <!--<div class="color-1">connexion --agence--</div>-->



        <div class="photo-12 text-dark " >
            <a class="agrid" href="{{ path('app_logout') }}">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
        <img class="photo-13" src="{{ asset('build/al2.jpg') }}">
        <img class="photo-14" src="{{ asset('build/al3.jpg') }}">
        <!--<img class="photo-15" src="images/eberhard-grossgasteiger@agriculture-cabin-clouds-2437291.jpg">-->
        <img class="photo-17" src="{{ asset('build/albuferia.jpg') }}">
        <!--<h1 class="title">Expo Photos!</h1>
        <p class="description">Du 1er au 25 juillet 2019<br>Salle des profs</p>-->
    </section>
</div>

{% endblock %}

